[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/icaven/glm.git
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc.git
[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
